@charset "ISO-8859-1";

.container {
	max-width: 1200px;
	margin:auto;
}

.nav-header {
	margin:auto;
}

ul {
	list-style: none;
}
.nav {
	margin:auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.nav-link {
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
}

.nav-link:hover {
	background-color: #ff8080;
}

.login-section {
	display: flex;
	justify-content: center;
	max-width: 1200px;

}
.login-container {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	height: 600px;
	width: 500px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #ff8080;

}
.login-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-form-input {
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgba(255,128,128,0.3);
	border-radius: 10px;
}

.login-btn {
	align-self: flex-end;
}

