<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bank Login</title>
<link rel="stylesheet" href="/css/loginPage.css">
</head>
<body>
	<div class="container">
		<nav class="nav-header">
			<ul class="nav">
				<li class="nav-link"><a>Home</a></li>
				<li class="nav-link"><a>Login</a></li>
			</ul>
		</nav>

		<section class="login-section">
			<div class="deposit-container">
				<h3>Deposit</h3>
				<form  th:action="@{/depositAmount}" class="login-form" th:object="${transaction}"
					method="POST">
					<input type="hidden" name="accountNumber" th:value="${accountId}">
					<input class="login-form-input" type="text" name="transactionAmount" required />
					<input class="login-btn" type = "submit" value="Submit">
				</form>
			</div>

		</section>
	</div>

</body>
</html>