<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bank Login</title>
<link rel="stylesheet" href="/css/loginPage.css">
<link rel="stylesheet" href="/css/manageAccountPage.css">
</head>
<body>
	<div class="container">
		<div class="manage-container">
		
			<div class="bankOptions">
				<a>Transfer</a> 
				<form th:action="@{/deposit}" th:object="${session.bankAccount}">
					<input type="hidden" name="accountId" th:value="${session.bankAccount.accountId}" />
					<input type="Submit" value="Deposit" />
				</form>
			</div>
			
			<div class="filter-container">
				<h3>Filter Options</h3>
				<div class="filter-options-container">
					<button>Highest</button>
					<button>Lowest</button>
					<button>Date</button>
				</div>
			</div>
			
			<div class="manager-box">
			
				<div class="manager-box-account">
					<div th:text="${session.bankAccount.type}"></div>
					<div th:text="'$ '+${session.bankAccount.balance}"></div>
				</div>
				
				<form th:action="@{/manageTransaction}" class="transaction-list" th:object="${transaction}" method="post"
					th:each="trans : ${session.bankTransactions}">
					<input type="hidden" name="tranId" th:value="${trans.tranId}">
					<input type="hidden" name="accountNumber" th:value="${trans.accountNumber}">
					<input readonly class="transaction-value" name="transactionAmount" th:value="${trans.transactionAmount}"/>
				</form>
				
			</div>
		</div>
	</div>
 <script src="/js/homePage.js"></script> 
</body>
</html>