<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bank Login</title>
<link rel="stylesheet" href="/css/loginPage.css">
</head>
<body>
	<div class = "container">
	<nav class="nav-header">
		<ul class="nav">
			<li class="nav-link"><a>Home</a></li>
			<li class="nav-link"><a>Login</a></li>
		</ul>
	</nav>
	
	<section class ="login-section">
		<div class = "login-container">
		<h3>Login</h3>
			<p th:text="${accountCreated}"></p>
			<form action="#" class="login-form" th:action="@{/login}" method="post">
				<input class="login-form-input" type="text" required name="username" placeholder="Username">
				<input class="login-form-input" type="password" required name="password"placeholder="Password">
				<input class="login-btn" type = "submit" value="Submit">
			</form>
			<div>
				<a href="/createAccount">Create Account</a>
				<a href="">Forgot Password</a>
			</div>
		</div>
		
	</section>
	</div>
	
</body>
</html>