<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bank Login</title>
<link rel="stylesheet" href="/css/loginPage.css">
<link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
</head>
<body>
	<div class="container">
		<section class="login-section">
		
			<div class="login-container">
				<h2 class="login-header">Login</h2>

				<div class="login-info-container">
				
					<form action="#" class="login-form" th:action="@{/logins}" th:object="${customer}" method="post">
						<input class="login-form-input" type="text" required name="username" placeholder="Username"> 
						<input class="login-form-input" type="password" required name="password" placeholder="Password"> 
						<input class="login-btn" type="submit" value="Submit">
					</form>
					
					<div class="support-btn-container">
						<a class="login-support-btn" href="/createAccount">Create Account</a> 
						<a class="login-support-btn" href="/forgotPassword">Forgot Password</a>
					</div>
					
				</div>
			</div>
			
		</section>
	</div>

</body>
</html>